Repository TEAM-TATTOUR/tattour-client, pull requests merged in 2023-08, with the labels that each got.

#464 [LoginPage] 모든 로그인 관련 페이지 LoginPage에 병합
  src/Router.tsx
  src/components/Register/RegisterNameFooter.tsx
  src/components/Register/RegisterPhoneNumForm.tsx
  src/libs/hooks/useKakaoLogin.tsx
  src/page/Login/LoginPage.tsx
  src/page/Register/RegisterNamePage.tsx
  src/page/Register/RegisterPhoneNumPage.tsx
  src/page/Welcome/WelcomePage.tsx
Labels: 🔨 Refactor, 💌 Login

#468 [LoginPage] 페이지 병합 2차 리팩토링
  src/common/Header/BackBtn.tsx
  src/common/Modal/EscapeModal/EscapeModalForm.tsx
  src/components/Register/RegisterNameFooter.tsx
  src/components/Register/RegisterPhoneNum.tsx
  src/components/Register/RegisterPhoneNumForm.tsx
  src/page/Login/LoginPage.tsx
Labels: 🚨 Code Review, 🔨 Refactor

#470 [List page] 필터링 기능 리팩토링
  src/components/List/FilterBottom.tsx
  src/components/List/TattooList.tsx
  src/page/ListPage.tsx
Labels: 🔨 Refactor, 📑 List

#475 [LoginPage] useState 정리
  src/components/Register/RegisterPhoneNumForm.tsx
  src/components/Register/Timer.tsx
  src/libs/reducers/registerReducer.ts
Labels: 🚨 Code Review, 🔨 Refactor, 💌 Login

#476 [LoginPage] 타이머 성능 개선
  src/components/Register/RegisterPhoneNumForm.tsx
  src/components/Register/Timer.tsx
  src/libs/reducers/registerReducer.ts
Labels: 🚨 Code Review, 🔨 Refactor, 💌 Login

#473 [haveDesign] haveDesign 페이지 합치기
  src/Router.tsx
  src/components/Custom/HaveDesign/Canvas.tsx
  src/components/Custom/HaveDesign/CustomImageAttach.tsx
  src/components/Custom/HaveDesign/CustomReference.tsx
  src/components/Custom/HaveDesign/HaveDesignFooter.tsx
  src/components/Custom/HaveDesign/PaintBottomSheet.tsx
  src/components/Custom/HaveDesign/ReceiptDetail.tsx
  src/components/Custom/HaveDesign/SelectColor.tsx
  src/page/Custom/HaveDesign/AdditionalRequestPage.tsx
  src/page/Custom/HaveDesign/CustomReferencePage.tsx
  src/page/Custom/HaveDesign/CustomThemePage.tsx
  src/page/Custom/HaveDesign/HaveDesignCustomPage.tsx
  src/page/Custom/HaveDesign/ReceiptPage.tsx
  src/page/Custom/HaveDesign/SelectKeywordPage.tsx
  src/page/Custom/HaveDesign/StylingColorPage.tsx
  src/page/Custom/PricePage.tsx
  src/page/CustomReference/CustomReferencePage.tsx
Labels: 🔨 Refactor, ✏️ Custom

#480 [ChargePage] 충전액 0원일 때도 다음 cta 비활성화되도록 수정
  src/components/PointCharge/Charge.tsx
Labels: 🔨 Refactor, 💰point

#478 [Custom: NoDesign] NoDesign 플로우 컴포넌트 이름 정리, 폴더 구조 정리
  src/Router.tsx
  src/components/Custom/NoDesign/Img/CustomImg.tsx
  src/components/Custom/NoDesign/Img/CustomImgAttach.tsx
  src/components/Custom/NoDesign/Img/CustomImgHeader.tsx
  src/components/Custom/NoDesign/Img/CustomImgLayout.tsx
  src/components/Custom/NoDesign/Request/CustomRequest.tsx
  src/components/Custom/NoDesign/Request/CustomRequestLayout.tsx
  src/page/Custom/NoDesign/NoDesignCustomPage.tsx
Labels: 🔨 Refactor, ✏️ Custom

#487 List page/#474 2nd refactor
  src/components/List/FilterBottom.tsx
  src/components/List/TattooList.tsx
  src/components/Order/DeliveryInfo.tsx
  src/page/ListPage.tsx
  src/page/Order/CompletePage.tsx
  src/page/Order/OrderPage.tsx
Labels: 🔨 Refactor, 📑 List

#486 [Custom:NoDesign] 동일 이미지 재첨부 안되는 문제 해결
  src/components/Custom/NoDesign/Img/CustomImgAttach.tsx
  src/components/Custom/NoDesign/Img/CustomImgLayout.tsx
  src/components/Custom/NoDesign/Request/CustomRequestLayout.tsx
Labels: 🔨 Refactor, ✏️ Custom

#489 [haveDesign]2차 리팩토링(폴더구조, 네이밍, 뒤로가기 추가 구현)
  src/Router.tsx
  src/components/Custom/Common/PriceLayout.tsx
  src/components/Custom/HaveDesign/AdditionalRequest/AdditionalRequest.tsx
  src/components/Custom/HaveDesign/AdditionalRequest/AdditionalRequestLayout.tsx
  src/components/Custom/HaveDesign/AdditionalRequestFooter.tsx
  src/components/Custom/HaveDesign/CustomReferenceFooter.tsx
  src/components/Custom/HaveDesign/CustomTheme/CustomTheme.tsx
  src/components/Custom/HaveDesign/CustomTheme/CustomThemeLayout.tsx
  src/components/Custom/HaveDesign/CustomThemeFooter.tsx
  src/components/Custom/HaveDesign/Receipt/ReceiptDetail.tsx
  src/components/Custom/HaveDesign/Receipt/ReceiptFooter.tsx
  src/components/Custom/HaveDesign/Receipt/ReceiptLayout.tsx
  src/components/Custom/HaveDesign/Receipt/Submitted.tsx
  src/components/Custom/HaveDesign/Reference/Canvas.tsx
  src/components/Custom/HaveDesign/Reference/ColorPicker.tsx
  src/components/Custom/HaveDesign/Reference/CustomImageAttach.tsx
  src/components/Custom/HaveDesign/Reference/CustomReference.tsx
  src/components/Custom/HaveDesign/Reference/CustomReferenceLayout.tsx
  src/components/Custom/HaveDesign/Reference/PaintBottomHeader.tsx
  src/components/Custom/HaveDesign/Reference/PaintBottomSheet.tsx
  src/components/Custom/HaveDesign/Reference/ReferenceInstruction.tsx
  src/components/Custom/HaveDesign/SelectColor/SelectColor.tsx
  src/components/Custom/HaveDesign/SelectColor/SelectColorBtn.tsx
  src/components/Custom/HaveDesign/SelectColor/StylingColorLayout.tsx
  src/components/Custom/HaveDesign/SelectKeyword/SelectKeyword.tsx
  src/components/Custom/HaveDesign/SelectKeyword/SelectKeywordInstruction.tsx
  src/components/Custom/HaveDesign/SelectKeyword/SelectKeywordLayout.tsx
  src/page/Custom/HaveDesign/AdditionalRequestPage.tsx
  src/page/Custom/HaveDesign/HaveDesignCustomPage.tsx
  src/page/Custom/HaveDesign/ReceiptPage.tsx
  src/page/Custom/NoDesign/NoDesignCustomPage.tsx
Labels: 🔨 Refactor

#494 [Custom: common] SelectPage + SizePage 먼저 통합
  src/Router.tsx
  src/common/Modal/ChargePointModal/ChargePointModal.tsx
  src/common/Modal/ChargePointModal/ChargePointModalForm.tsx
  src/common/Modal/TempSaveModal/TempSaveModal.tsx
  src/components/Custom/Common/OnBoardingFooter.tsx
  src/components/Custom/Common/Select/SelectCustom.tsx
  src/components/Custom/Common/Select/SelectCustomBtn.tsx
  src/components/Custom/Common/Select/SelectCustomFooter.tsx
  src/components/Custom/Common/Select/SelectCustomLayout.tsx
  src/components/Custom/Common/Select/SelectCustomPolicy.tsx
  src/components/Custom/Common/Select/SelectCustomPolicyBottom.tsx
  src/components/Custom/Common/Size/CustomSelectSize.tsx
  src/components/Custom/Common/Size/CustomSelectSizeBtn.tsx
  src/components/Custom/Common/Size/CustomSizeLayout.tsx
  src/components/Custom/NoDesign/NoDesignFooter.tsx
  src/page/Custom/Common/CommonCustomPage.tsx
  src/page/Custom/Common/CustomSizePage.tsx
  src/page/Custom/Common/SelectPage.tsx
Labels: 🔨 Refactor, ✏️ Custom

#496 [haveDesign] PriceLayout, ReceiptLayout 통합
  src/Router.tsx
  src/components/Custom/Common/Receipt/ReceiptDetail.tsx
  src/components/Custom/Common/Receipt/ReceiptFooter.tsx
  src/components/Custom/Common/Receipt/ReceiptLayout.tsx
  src/components/Custom/Common/Receipt/Submitted.tsx
  src/components/Custom/HaveDesign/Reference/Canvas.tsx
  src/components/Custom/HaveDesign/Reference/ColorPicker.tsx
  src/components/Custom/HaveDesign/Reference/PaintBottomSheet.tsx
  src/page/Custom/HaveDesign/HaveDesignCustomPage.tsx
Labels: 🔨 Refactor, ✏️ Custom

#495 [List Page] 2차 QA
  src/common/HotCustom.tsx
  src/components/List/TattooList.tsx
  src/page/ListPage.tsx
  src/page/MainPage.tsx
Labels: 🚨 Code Review, 🔨 Refactor, 📑 List

#498 [DetailPage] 2차 QA
  src/common/CustomScrollContainer.tsx
  src/common/SmallTattooCard.tsx
  src/components/Detail/DetailFooter.tsx
  src/components/Detail/DetailInfo.tsx
  src/libs/hooks/detail/useGetRelated.tsx
  src/page/DetailPage.tsx
Labels: 🚨 Code Review, 🔨 Refactor, 🦋Detail

#500 [OrderPage] 2차 QA
  src/components/Order/DeliveryInfo.tsx
  src/components/Order/PaymentInfo.tsx
  src/components/Order/RefundInfo.tsx
  src/libs/hooks/order/useGetOrdersheet.tsx
  src/page/Order/OrderPage.tsx
Labels: 🚨 Code Review, 🔨 Refactor, 🪄Order

#502 [Custom: noDesign] price + receipt 페이지들까지 noDesign 통합 페이지에 우선 통합
  src/Router.tsx
  src/components/Custom/Common/PriceLayout.tsx
  src/components/Custom/Common/Receipt/ReceiptDetail.tsx
  src/components/Custom/Common/Receipt/ReceiptLayout.tsx
  src/components/Custom/Common/Size/CustomSizeLayout.tsx
  src/components/Custom/CountPrice.tsx
  src/components/Custom/NoDesign/NoDesignFooter.tsx
  src/components/Custom/PriceFooter.tsx
  src/page/Custom/Common/CommonCustomPage.tsx
  src/page/Custom/NoDesign/NoDesignCustomPage.tsx
  src/types/customInfoType.ts
Labels: 🔨 Refactor, ✏️ Custom

#506 [toast message] QA 내용 반영
  src/common/ToastMessage/Toast.tsx
  src/components/PointCharge/AccountCopy.tsx
Labels: 🔨 Refactor

#509 [modal] qa 내용 반영
  src/Router.tsx
  src/common/Modal/ChargePointModal/ChargePointCompleteModal.tsx
  src/common/Modal/ChargePointModal/ChargePointModalForm.tsx
  src/common/Modal/CheckModal/CheckModal.tsx
  src/common/Modal/CheckModal/CheckModalForm.tsx
  src/common/Modal/EscapeModal/ChargePointEscapeModal.tsx
  src/common/Modal/EscapeModal/EscapeModalForm.tsx
  src/common/Modal/EscapeModal/LoginEscapeModal.tsx
  src/common/Modal/WelcomeModal/WelcomeModalForm.tsx
  src/common/PreventAccess/PreventAccess.tsx
  src/components/PointCharge/PointTransferFooter.tsx
  src/components/Register/RegisterPhoneNumForm.tsx
  src/libs/hooks/useKakaoLogin.tsx
Labels: 🔨 Refactor, 🔔 modal

#512 [modal] qa 반영 2차 리팩토링
  src/common/Modal/WelcomeModal/WelcomeModalForm.tsx
Labels: 🔨 Refactor, 🔔 modal

#522 [haveDesign] 캔버스 기능 수정 및 디자인 QA
  src/assets/icon/ic_draw.svg
  src/components/Custom/HaveDesign/CustomTheme/CustomTheme.tsx
  src/components/Custom/HaveDesign/Reference/Canvas.tsx
  src/components/Custom/HaveDesign/Reference/ColorPicker.tsx
  src/components/Custom/HaveDesign/Reference/CustomImageAttach.tsx
  src/components/Custom/HaveDesign/Reference/ReferenceInstruction.tsx
  src/components/Custom/HaveDesign/SelectColor/SelectColor.tsx
  src/components/Custom/HaveDesign/SelectKeyword/SelectKeywordInstruction.tsx
Labels: 🔨 Refactor

#527 Custom/#507 바텀시트 및 수량 선택 페이지 QA 반영
  src/assets/data/CUSTOM_COPYRIGHT_POLICY.tsx
  src/assets/data/REFUND_CUSTOM_POLICY.tsx
  src/common/Modal/WelcomeModal/WelcomeModalForm.tsx
  src/components/Custom/Common/Select/SelectCustomPolicyBottom.tsx
  src/components/Custom/CountPrice.tsx
  src/components/Custom/MakePublic.tsx
  src/components/Custom/PriceHeading.tsx
  src/components/Custom/PublicBottomSheet.tsx
Labels: ✨ Feature, 🎨 Publishing, ✏️ Custom

#516 [HaveDesign] HaveDesign 개발 QA 내용 반영
  src/components/Custom/Common/PriceLayout.tsx
  src/components/Custom/Common/Receipt/ReceiptDetail.tsx
  src/components/Custom/Common/Receipt/ReceiptLayout.tsx
  src/components/Custom/CountPrice.tsx
  src/components/Custom/HaveDesign/AdditionalRequest/AdditionalRequest.tsx
  src/components/Custom/HaveDesign/Reference/CustomImageAttach.tsx
  src/components/Custom/HaveDesign/Reference/CustomReference.tsx
  src/components/Custom/HaveDesign/Reference/CustomReferenceLayout.tsx
  src/components/Custom/MakePublic.tsx
  src/components/Custom/PriceFooter.tsx
  src/page/Custom/Common/CommonCustomPage.tsx
  src/page/Custom/HaveDesign/HaveDesignCustomPage.tsx
  src/page/Custom/NoDesign/NoDesignCustomPage.tsx
  src/types/customInfoType.ts
Labels: 🔨 Refactor, ✏️ Custom

#528 [QA] 로그인 CTA 및 화면 상하로 움직이는 이슈 해결
  src/components/Login/LoginFooter.tsx
  src/components/Login/LoginHome.tsx
  src/components/Register/RegisterName.tsx
  src/components/Register/RegisterNameFooter.tsx
  src/components/Register/RegisterPhoneNum.tsx
  src/components/Register/RegisterPhoneNumForm.tsx
  src/components/Welcome/WelcomeFooter.tsx
  src/components/Welcome/WelcomeHome.tsx
  src/libs/hooks/useKakaoLogin.tsx
  src/page/Login/LoginPage.tsx
Labels: 🔨 Refactor, 💌 Login

#530 [haveDesign] 디자인 QA 및 기타 기능 QA 수정
  src/assets/video/tattour_home_banner.mp4
  src/common/Footer/NextFooter.tsx
  src/common/Modal/EscapeModal/CustomSizeEscapeModal.tsx
  src/components/Custom/Common/PriceLayout.tsx
  src/components/Custom/Common/Receipt/ReceiptDetail.tsx
  src/components/Custom/CountPrice.tsx
  src/components/Custom/HaveDesign/AdditionalRequest/AdditionalRequestLayout.tsx
  src/components/Custom/HaveDesign/CustomTheme/CustomTheme.tsx
  src/components/Custom/HaveDesign/CustomTheme/CustomThemeLayout.tsx
  src/components/Custom/HaveDesign/HaveDesignFooter.tsx
  src/components/Custom/HaveDesign/Reference/CustomImageAttach.tsx
  src/components/Custom/HaveDesign/Reference/CustomReferenceLayout.tsx
  src/components/Custom/HaveDesign/SelectColor/StylingColorLayout.tsx
  src/components/Custom/HaveDesign/SelectKeyword/SelectKeyword.tsx
  src/components/Custom/HaveDesign/SelectKeyword/SelectKeywordLayout.tsx
  src/components/Custom/NoDesign/Img/CustomImg.tsx
  src/components/Custom/NoDesign/Img/CustomImgAttach.tsx
  src/components/Custom/NoDesign/Img/CustomImgLayout.tsx
  src/components/Custom/NoDesign/Request/CustomRequestLayout.tsx
  src/components/MainPage/MainBanner.tsx
  src/components/MainPage/MainStyle.tsx
  src/components/MyTattoo/MySaveItem.tsx
  src/page/Custom/Common/CommonCustomPage.tsx
  src/page/Custom/HaveDesign/HaveDesignCustomPage.tsx
  src/page/Custom/NoDesign/NoDesignCustomPage.tsx
Labels: 🔨 Refactor

#533 셀프로 진행한 2.5차 QA
  src/common/CustomScrollContainer.tsx
  src/common/MainHeaderButton.tsx
  src/components/Complete/CompleteFooter.tsx
  src/components/Detail/DetailBottom.tsx
  src/components/Detail/DetailFooter.tsx
  src/components/List/TattooList.tsx
  src/components/MainPage/MainFooter.tsx
  src/components/MainPage/MainStyle.tsx
  src/components/Order/OrderFooter.tsx
  src/components/Order/PaymentInfo.tsx
  src/components/Order/PaymentMini.tsx
  src/components/Order/ProductInfo.tsx
  src/components/Order/RefundInfo.tsx
  src/components/Register/RegisterPhoneNumForm.tsx
  src/libs/hooks/detail/useGetPoint.tsx
  src/libs/hooks/detail/useGetRelated.tsx
  src/libs/hooks/detail/useGetSticker.tsx
  src/libs/hooks/list/useGetAllList.tsx
  src/libs/hooks/list/useGetGenre.tsx
  src/libs/hooks/list/useGetStyle.tsx
  src/libs/hooks/order/useGetOrdersheet.tsx
  src/libs/hooks/order/usePostOrder.tsx
  src/page/DetailPage.tsx
  src/page/Order/CompletePage.tsx
  src/page/Order/OrderPage.tsx
Labels: ✨ Feature

#534 [haveDesign] 추가 QA
  src/components/Custom/Common/PriceLayout.tsx
  src/components/Custom/Common/Receipt/ReceiptDetail.tsx
  src/components/Custom/PriceFooter.tsx
Labels: 🔨 Refactor
