Repository TEAM-TATTOUR/tattour-client, pull requests merged in 2023-12, with the labels that each got.

#562 [SP1/DirectDeposit] 무통장 입금 뷰 추상화 작업
  src/Router.tsx
  src/components/Custom/Common/DirectDeposit/CustomDirectDeposit.tsx
  src/components/Custom/Common/DirectDeposit/CustomDirectDepositInfo.tsx
  src/components/Custom/Common/DirectDeposit/CustomDirectDepositLayout.tsx
  src/components/DirectDeposit/AccountCopy.tsx
  src/components/DirectDeposit/DepositInfo.tsx
  src/components/DirectDeposit/DirectDepositFooter.tsx
Labels: 👨‍👩‍👧‍👦 Common, ✨ Feature, 🔨 Refactor

#568 [SP1] 커스텀 price 문구 수정 반영
  src/components/Custom/CountPrice.tsx
  src/components/Custom/PriceFooter.tsx
Labels: ✏️ Custom

#564 [Sp1] 상세페이지 CTA 수정 및 장바구니 추가 API 연결
  src/components/Detail/DetailBottom.tsx
  src/components/Detail/DetailFooter.tsx
  src/libs/hooks/detail/useGetPoint.tsx
  src/libs/hooks/detail/usePostCart.tsx
  yarn.lock
Labels: 📬 API, 🎨 Publishing, 🦋Detail

#567 [SP1] 회원가입 시 지급되던 이벤트 모달 삭제
  src/common/Modal/WelcomeModal/WelcomeModal.tsx
  src/common/Modal/WelcomeModal/WelcomeModalForm.tsx
  src/page/MainPage.tsx
Labels: 🔔 modal

#560 Op/#547 p1
  package.json
  src/assets/video/tattour_loading.json
  src/common/HotCustom.tsx
  src/common/Skeleton/HotSkeleton.tsx
  src/common/Skeleton/MainSkeleton.tsx
  src/common/Skeleton/Skeleton.tsx
  src/common/SmallTattooCard.tsx
  src/components/Custom/Common/OnBoardingFooter.tsx
  src/components/Custom/Common/Receipt/ReceiptFooter.tsx
  src/components/Custom/Common/Receipt/ReceiptLayout.tsx
  src/components/Custom/NoDesign/Img/CustomImgLayout.tsx
  src/components/Custom/NoDesign/NoDesignFooter.tsx
  src/components/Custom/PriceFooter.tsx
  src/components/List/FilterBottom.tsx
  src/components/List/TattooList.tsx
  src/components/MainPage/MainStyle.tsx
  src/components/MainPage/MainTheme.tsx
  src/components/MyTattoo/MyLike.tsx
  src/components/Register/RegisterName.tsx
  src/constants/TitleInfo.ts
  src/libs/hooks/useGetLikeSticker.ts
  src/page/Custom/Common/CommonCustomPage.tsx
  src/page/DetailPage.tsx
  src/page/LoadingPage.tsx
  yarn.lock
Labels: 👨‍👩‍👧‍👦 Common, 🎨 Publishing, 📑 List

#572 [SP1] 결제페이지 변경사항 반영
  src/assets/icon/ic_radio.svg
  src/assets/icon/index.ts
  src/components/Order/PayMethodInfo.tsx
  src/components/Order/PaymentInfo.tsx
  src/components/Order/PaymentMini.tsx
  src/components/Order/ProductInfo.tsx
  src/libs/hooks/order/useGetOrdersheet.tsx
  src/page/Order/OrderPage.tsx
Labels: 📬 API, 🎨 Publishing, 🪄Order

#573 [SP1] 결제완료 페이지 UX라이팅 변경사항 수정
  src/page/Order/CompletePage.tsx
Labels: 🎨 Publishing, 🪄Order

#574 [SP1] 에러뷰, 만료뷰
  src/Router.tsx
  src/components/Detail/DetailFooter.tsx
  src/components/Order/OrderFooter.tsx
  src/libs/hooks/detail/useGetRelated.tsx
  src/libs/hooks/detail/useGetSticker.tsx
  src/libs/hooks/detail/usePostCart.tsx
  src/libs/hooks/useGetCustomDetail.ts
  src/libs/hooks/useGetCustomSaveList.ts
  src/libs/hooks/useGetHotCustom.ts
  src/libs/hooks/useGetLikeSticker.ts
  src/libs/hooks/useGetMyCustom.ts
  src/libs/hooks/useGetSearchSticker.ts
  src/libs/hooks/useGetStyleCard.ts
  src/libs/hooks/useGetThemeCard.ts
  src/libs/hooks/useGetUserProfile.ts
Labels: 📬 API

#578 [SP1] 구매하기, 무통장 입금 뷰 연결 + 무통장 입금 확인 모달 생성
  src/Router.tsx
  src/common/Modal/ChargePointModal/ChargePointCompleteModal.tsx
  src/common/Modal/ChargePointModal/ChargePointModal.tsx
  src/common/Modal/ChargePointModal/ChargePointModalForm.tsx
  src/common/Modal/CheckDepositModal/CheckDepositModal.tsx
  src/common/Modal/EscapeModal/EscapeModalForm.tsx
  src/common/UserInfoSection.tsx
  src/components/Cart/CartItem.tsx
  src/components/Custom/Common/DirectDeposit/CustomDirectDepositLayout.tsx
  src/components/Custom/Common/Select/SelectCustomFooter.tsx
  src/components/Detail/DetailFooter.tsx
  src/components/Order/Deposit/OrderDeposit.tsx
  src/components/Order/Deposit/OrderDepositInfo.tsx
  src/components/Order/OrderFooter.tsx
  src/libs/hooks/useGetStyleCard.ts
  src/libs/hooks/useGetThemeCard.ts
  src/page/DetailPage.tsx
  src/page/MainPage.tsx
  src/page/Order/OrderDepositPage.tsx
  src/page/Order/OrderPage.tsx
Labels: 🔔 modal, 🪄Order, 💵 Deposit

#580 [SP1/PointCharge] 포인트 충전 뷰 삭제
  src/Router.tsx
  src/components/PointCharge/AccountCopy.tsx
  src/components/PointCharge/Charge.tsx
  src/components/PointCharge/PointChargeFooter.tsx
  src/components/PointCharge/PointTransferFooter.tsx
  src/components/PointCharge/PrePointPolicyBottom.tsx
  src/components/PointCharge/TransferMain.tsx
  src/components/PointCharge/TransferPolicy.tsx
  src/page/PointCharge/ChargePage.tsx
  src/page/PointCharge/TransferPage.tsx
Labels: 🔨 Refactor, 💰point

#581 [SP1/Custom] 커스텀 신청시 포인트 충전 모달 삭제, 커스텀 신청 api 연결
  src/components/Custom/Common/OnBoardingFooter.tsx
  src/components/Custom/Common/Select/SelectCustomFooter.tsx
  src/libs/hooks/usePostCustomApply.ts
  src/page/Custom/Common/CommonCustomPage.tsx
Labels: 🔨 Refactor, ✏️ Custom

#575 [SP1] 계좌이체 뷰 추가
  src/Router.tsx
  src/common/Modal/CheckDepositModal/CustomCheckDepositModal.tsx
  src/common/Modal/EscapeModal/EscapeModalForm.tsx
  src/components/Custom/Common/DirectDeposit/CustomDirectDeposit.tsx
  src/components/Custom/Common/DirectDeposit/CustomDirectDepositLayout.tsx
  src/components/Custom/Common/PriceLayout.tsx
  src/components/Custom/CountPrice.tsx
  src/components/Custom/PriceFooter.tsx
  src/page/Custom/HaveDesign/HaveDesignCustomPage.tsx
  src/page/Custom/NoDesign/NoDesignCustomPage.tsx
Labels: ✨ Feature, 🔨 Refactor, ✏️ Custom, 💵 Deposit
