Repository TEAM-TATTOUR/tattour-client, pull requests merged in 2023-07, with the labels that each got.

#87 Login page/#7 login
  src/assets/logo.png
  src/assets/logo_kakao.png
  src/components/Login/LoginFooter.tsx
  src/components/Login/LoginHome.tsx
  src/pages/Login/LoginPage.tsx
Labels: 🎨 Publishing, 💌 Login

#90 List page/#26 publishing
  src/Router.tsx
  src/assets/icon/IcDownArrow.svg
  src/assets/icon/index.ts
  src/components/List/TattooList.tsx
  src/pages/ListPage.tsx
Labels: 🎨 Publishing

#94 [OnboardingPage] 캐러셀 전체적인 템플릿 구현
  src/Router.tsx
  src/assets/ImgTestOnBoarding.png
  src/assets/icon/IcCarouselLeftArrow.svg
  src/assets/icon/IcCarouselRightArrow.svg
  src/components/Custom/OnBoardingCarousel.tsx
  src/pages/Custom/OnBoardingPage.tsx
Labels: 🚨 Code Review, ✨ Feature, 🎨 Publishing

#93 List page/#27 bottom sheet publishing
  src/components/List/FilterBottom.tsx
  src/components/List/TattooList.tsx
  src/pages/ListPage.tsx
Labels: 🚨 Code Review, ✨ Feature, 🎨 Publishing, 📑 List

#97 List page/#28 filter changes
  src/assets/icon/ic_down_arrow.svg
  src/assets/icon/index.ts
  src/components/List/FilterBottom.tsx
  src/components/List/TattooList.tsx
Labels: 🚨 Code Review, ✨ Feature, 🎨 Publishing, 📑 List

#96 [RegisterPage] 사용자의 이름과 전화번호를 입력받는 뷰
  src/Router.tsx
  src/components/Login/LoginFooter.tsx
  src/components/Register/ErrorMessage.tsx
  src/components/Register/InputCertificationForm.tsx
  src/components/Register/RegisterName.tsx
  src/components/Register/RegisterNameFooter.tsx
  src/components/Register/RegisterPhoneNum.tsx
  src/components/Register/RegisterPhoneNumForm.tsx
  src/components/Register/RegisterTitleForm.tsx
  src/components/Register/Timer.tsx
  src/constants/TitleInfo.ts
  src/pages/Register/RegisterPage.tsx
  src/utils/sliceMaxLength.ts
Labels: 🚨 Code Review, 🎨 Publishing, 💌 Login

#103 [Main Page] Main Page 퍼블리싱
  package.json
  src/components/Header.tsx
  src/components/MainPage/HotCustom.tsx
  src/components/MainPage/MainBanner.tsx
  src/components/MainPage/MainEventBanner.tsx
  src/components/MainPage/MainFooter.tsx
  src/components/MainPage/MainHeaderButton.tsx
  src/components/MainPage/MainStyle.tsx
  src/components/MainPage/MainTheme.tsx
  src/pages/MainPage.tsx
  src/styles/GlobalStyle.ts
  yarn.lock
Labels: 🎨 Publishing

#107 [SizeCustomPage] 커스텀 사이즈 선택 뷰 구현
  src/Router.tsx
  src/components/Custom/Common/CustomSelectSize.tsx
  src/components/Custom/Common/CustomSelectSizeBtn.tsx
  src/pages/Custom/Common/CustomSizePage.tsx
Labels: ✨ Feature, 🎨 Publishing

#88 [SelectPage] 커스텀 타투 상황 선택 뷰 구현
  src/Router.tsx
  src/assets/icon/IcActiveSelect.svg
  src/assets/icon/IcInActiveSelect.svg
  src/assets/icon/index.ts
  src/components/Custom/SelectCustom.tsx
  src/components/Custom/SelectCustomBtn.tsx
  src/pages/Custom/SelectPage.tsx
Labels: 🚨 Code Review, ✨ Feature, 🎨 Publishing

#100 Order page/#39 components publishing
  src/Router.tsx
  src/components/Order/DeliveryInfo.tsx
  src/components/Order/PaymentInfo.tsx
  src/components/Order/ProductInfo.tsx
  src/pages/Login/OrderPage.tsx
Labels: 🚨 Code Review, 🎨 Publishing, 🪄Order

#111 [MainPage] SideBar UI 구현
  src/components/MainPage/SideMenu.tsx
  src/components/MainPage/SideMenuUserInfo.tsx
  src/pages/MainPage.tsx
Labels: 🎨 Publishing

#116 Order page/#40 re fund component publishing
  src/components/Order/RefundInfo.tsx
  src/pages/Login/OrderPage.tsx
Labels: 🚨 Code Review, 🎨 Publishing, 🪄Order

#118 style: 체크 위치 이슈 수정
  src/components/List/FilterBottom.tsx
  src/components/List/TattooList.tsx
Labels: 🎨 Publishing, 📑 List

#119 [CustomImgPage] 그려둔 이미지 도안 첨부 UI 구현
  src/Router.tsx
  src/components/Custom/NoDesgin/CustomImg.tsx
  src/pages/Custom/NoDesign/CustomImgPage.tsx
Labels: 🎨 Publishing

#114 [Common] progress bar 구현
  src/common/ProgressBar.tsx
  src/components/Header.tsx
Labels: 🚨 Code Review, 👨‍👩‍👧‍👦 Common, 🎨 Publishing

#121 [CustomImgPage] 이미 그려둔 도안 이미지 미리보기 및 삭제 구현
  src/components/Custom/NoDesgin/CustomImg.tsx
  src/components/Custom/NoDesgin/CustomImgAttach.tsx
  src/components/Custom/NoDesgin/CustomImgHeader.tsx
Labels: 🚨 Code Review, ✨ Feature, ✏️ Custom

#123 [CustomReferencePage] 캔버스 바텀시트 안에 뜨도록 UI 구현하기
  package-lock.json
  package.json
  src/assets/icon/ic_color_rainbow.png
  src/assets/icon/ic_color_rainbow.svg
  src/assets/icon/ic_color_rainbow_selected.svg
  src/assets/icon/ic_color_selected_line.svg
  src/assets/icon/index.ts
  src/components/Custom/HaveDesign/Canvas.tsx
  src/components/Custom/HaveDesign/ColorPicker.tsx
  src/components/Custom/HaveDesign/CustomImageAttach.tsx
  src/components/Custom/HaveDesign/CustomReference.tsx
  src/components/Custom/HaveDesign/CustomReferenceFooter.tsx
  src/components/Custom/HaveDesign/CustomTitle.tsx
  src/components/Custom/HaveDesign/PaintBottomHeader.tsx
  src/components/Custom/HaveDesign/PaintBottomSheet.tsx
  src/pages/CustomReference/CustomReferencePage.tsx
  yarn.lock
Labels: ✨ Feature, 🎨 Publishing

#120 [Common] 사용자 이탈 경고 모달 구현
  index.html
  src/common/Modal/Modal.tsx
  src/common/Modal/ModalPortal.tsx
Labels: 🚨 Code Review, 👨‍👩‍👧‍👦 Common, 🎨 Publishing

#131 Order page/#41 wrap page layout
  src/components/Order/OrderFooter.tsx
  src/pages/Login/OrderPage.tsx
Labels: 🎨 Publishing, 👑 header, 🦶footer, 🪄Order

#132 Order page/#42 search api
  package.json
  src/components/Order/DeliveryInfo.tsx
  src/pages/OrderPage.tsx
  src/styles/GlobalStyle.ts
  yarn.lock
Labels: 🚨 Code Review, ✨ Feature, 🪄Order

#130 [LoginPage] 인증번호 제한시간 만료 시 뜨는 뷰 구현
  src/components/Register/ErrorMessage.tsx
  src/components/Register/InputCertificationForm.tsx
  src/components/Register/RegisterName.tsx
  src/components/Register/RegisterPhoneNumForm.tsx
  src/components/Register/Timer.tsx
  src/utils/sliceMaxLength.ts
Labels: 🚨 Code Review, 🎨 Publishing, 💌 Login

#133 [Common] header 공통 컴포넌트 구현 (뒤로 가기, 취소하기)
  src/common/Modal/EscapeModal/EscapeModal.tsx
  src/common/Modal/EscapeModal/EscapeModalForm.tsx
  src/components/Header.tsx
  src/pages/MainPage.tsx
  src/utils/BackBtn.tsx
  src/utils/CancelBtn.tsx
Labels: 👨‍👩‍👧‍👦 Common, ✨ Feature, 👑 header

#136 [CustomRequestPage] 이미 그려둔 도안이 있는 경우 주제 및 추가 요청사항 입력
  package.json
  src/Router.tsx
  src/components/Custom/NoDesign/CustomRequset.tsx
  src/pages/Custom/NoDesign/CustomRequestPage.tsx
Labels: ✨ Feature, 🎨 Publishing, ✏️ Custom

#138 [ChargePage] 포인트 충전 뷰(단순 UI) 구현
  src/Router.tsx
  src/components/PointCharge/Charge.tsx
  src/pages/PointCharge/ChargePage.tsx
Labels: 🎨 Publishing, 💰point

#150 [TransferPage] 계좌 송금 페이지 UI 구현
  src/Router.tsx
  src/components/PointCharge/AccountCopy.tsx
  src/components/PointCharge/TransferMain.tsx
  src/components/PointCharge/TransferPolicy.tsx
  src/pages/pointCharge/TransferPage.tsx
Labels: 🚨 Code Review, 🎨 Publishing, 💰point

#141 [OrderPage] /#113 주문하기에서 환불정책 BottomSheet
  src/components/Order/DeliveryInfo.tsx
  src/components/Order/RefundBottom.tsx
  src/components/Order/RefundInfo.tsx
  src/pages/OrderPage.tsx
Labels: 🚨 Code Review, 👨‍👩‍👧‍👦 Common, 🎨 Publishing, 🪄Order

#147 [Common] 포인트 부족/ 충전 관련 모달
  src/common/Modal/ChargePointModal/ChargePointModal.tsx
  src/common/Modal/ChargePointModal/ChargePointModalForm.tsx
Labels: 🎨 Publishing, 🔔 modal

#151 [Common] 사용자 이탈 방지 모달
  src/common/Modal/EscapeModal/ChargePointEscapeModal.tsx
  src/common/Modal/EscapeModal/CustomSizeEscapeModal.tsx
  src/common/Modal/EscapeModal/EscapeModalForm.tsx
  src/common/Modal/EscapeModal/LoginEscapeModal.tsx
  src/pages/MainPage.tsx
Labels: 🎨 Publishing, 🔔 modal

#153 [Common] 송금 확인 모달
  src/common/Modal/CheckModal/CheckModal.tsx
  src/common/Modal/CheckModal/CheckModalForm.tsx
Labels: 🎨 Publishing, 🔔 modal

#154 [Common] 가입 축하 모달
  src/common/Modal/WelcomeModal/WelcomeModal.tsx
  src/common/Modal/WelcomeModal/WelcomeModalForm.tsx
Labels: 🎨 Publishing, 🔔 modal

#143 [OrderPage] 포인트 부족 뷰 조건부 렌더링
  src/components/Order/PaymentInfo.tsx
Labels: 🚨 Code Review, ✨ Feature, 🎨 Publishing, 🪄Order

#148 [ListPage] 공통 컴포넌트 입히기
  src/common/MainHeaderButton.tsx
  src/components/List/TattooList.tsx
  src/pages/ListPage.tsx
Labels: 🎨 Publishing, 📑 List

#160 [TransferPage] 계좌번호 복사하기 기능 구현
  package.json
  src/components/PointCharge/AccountCopy.tsx
  yarn.lock
Labels: ✨ Feature, 💰point

#159 [Detail page] 캐러셀과 하단 리스트 제외하고 퍼블리싱
  src/Router.tsx
  src/components/Detail/DetailInfo.tsx
  src/pages/DetailPage.tsx
  src/styles/theme.ts
Labels: 🎨 Publishing

#168 Detail page/#33 page layout wrap
  src/components/Detail/DetailFooter.tsx
  src/pages/DetailPage.tsx
Labels: 🎨 Publishing, 👑 header, 🦶footer, 🦋Detail

#172 [Common] 토스트 메시지 구현
  src/common/ToastMessage/Toast.tsx
  src/components/Register/RegisterPhoneNumForm.tsx
Labels: 🚨 Code Review, 👨‍👩‍👧‍👦 Common, 🎨 Publishing

#163 [DetailPage] 상단의 carousel구현
  src/components/Detail/DetailCarousel.tsx
  src/components/Detail/DetailInfo.tsx
  src/pages/DetailPage.tsx
Labels: 🎨 Publishing, 🦋Detail

#174 [TransferPage] 예비포인트 정책 바텀시트 구현
  src/assets/data/PREPOINT_POLICY.ts
  src/components/PointCharge/PrePointPolicyBottom.tsx
  src/components/PointCharge/TransferPolicy.tsx
Labels: 🚨 Code Review, ✨ Feature, 💰point

#176 [DetailPage] 수량선택 bottom sheet 싹다 구현
  package.json
  src/components/Detail/DetailBottom.tsx
  src/components/Detail/DetailCarousel.tsx
  src/components/Detail/DetailFooter.tsx
  src/components/Detail/DetailInfo.tsx
  src/pages/DetailPage.tsx
  yarn.lock
Labels: 🚨 Code Review, ✨ Feature, 🎨 Publishing, 🦶footer, 🦋Detail

#164 [Common] 에러, 만료 페이지 퍼블리싱
  src/common/PreventAccess/PreventAccess.tsx
  src/constants/PreventAccessInfo.ts
  src/pages/Error/ErrorPage.tsx
  src/pages/Expiration/ExpirationPage.tsx
Labels: 🚨 Code Review, 👨‍👩‍👧‍👦 Common, 🎨 Publishing

#185 [TransferPage] 송금 페이지
  src/components/Header.tsx
  src/components/PointCharge/AccountCopy.tsx
  src/components/PointCharge/PointTransferFooter.tsx
  src/components/PointCharge/TransferMain.tsx
  src/components/PointCharge/TransferPolicy.tsx
  src/pages/pointCharge/TransferPage.tsx
Labels: 🚨 Code Review, ✨ Feature, 🎨 Publishing

#187 [OnBoardingPage] 캐러셀 디자인 수정 반영
  src/assets/ImgTestOnBoarding.png
  src/assets/ImgTestOnBoardingBig.png
  src/assets/ImgTestOnBoardingSmall.png
  src/assets/data/ONBOARDING_CAROUSEL_CONTNET.ts
  src/components/Custom/Common/OnBoardingCarousel.tsx
Labels: 🚨 Code Review, 🎨 Publishing, ✏️ Custom

#140 [StylingColorPage]/#74 색상 선택 뷰 구현
  index.html
  src/assets/icon/ic_circle_black.svg
  src/assets/icon/ic_circle_rainbow.png
  src/assets/icon/index.ts
  src/common/Modal/Modal.tsx
  src/common/Modal/ModalPortal.tsx
  src/common/ProgressBar.tsx
  src/components/Custom/HaveDesign/SelectColor.tsx
  src/components/Custom/HaveDesign/SelectColorBtn.tsx
  src/components/Header.tsx
  src/pages/Custom/StylingColorPage.tsx
Labels: ✨ Feature, 🎨 Publishing

#194 [WelcomePage] 헤더 붙이기
  src/components/Header.tsx
  src/components/Register/InputCertificationForm.tsx
  src/components/Welcome/WelcomeFooter.tsx
  src/components/Welcome/WelcomeHome.tsx
  src/pages/Welcome/WelcomePage.tsx
Labels: 🎨 Publishing, 💌 Login, 👑 header

#161 [SelectKeywordPage] 원하는 스타일과 장르 선택하는 뷰 기능 구현(체크박스 커스텀)
  src/assets/data/KEYWORDS_GENRE.tsx
  src/assets/data/KEYWORDS_STYLE.tsx
  src/components/Custom/HaveDesign/SelectKeyword.tsx
  src/components/Custom/HaveDesign/SelectKeywordHeading.tsx
  src/components/Header.tsx
  src/pages/Custom/HaveDesign/SelectKeywordPage.tsx
Labels: ✨ Feature, 🎨 Publishing

#184 [PricePage]/#82 수량 선택에 따른 금액 확인과 접수 완료하기 구현
  src/assets/icon/ic_btn_minus_dark.svg
  src/assets/icon/ic_btn_minus_light.svg
  src/assets/icon/ic_btn_plus_dark.svg
  src/assets/icon/index.ts
  src/components/Custom/CountPrice.tsx
  src/components/Custom/MakePublic.tsx
  src/components/Custom/PriceFooter.tsx
  src/components/Custom/PriceHeading.tsx
  src/pages/Custom/PricePage.tsx
Labels: ✨ Feature, 🎨 Publishing

#190 [CustomThemePage] 주제 및 설명 입력 뷰 구현
  src/components/Custom/HaveDesign/CustomTheme.tsx
  src/components/Custom/HaveDesign/CustomThemeFooter.tsx
  src/pages/Custom/HaveDesign/CustomThemePage.tsx
Labels: ✨ Feature, 🎨 Publishing

#192 [AdditionalRequestPage] 추가 요청 사항 화면 구현
  src/components/Custom/HaveDesign/AdditionalRequest.tsx
  src/components/Custom/HaveDesign/AdditionalRequestFooter.tsx
  src/pages/Custom/HaveDesign/AdditionalRequestPage.tsx
Labels: ✨ Feature, 🎨 Publishing

#193 [SelectPage] 상황 선택 뷰 디자인 수정 사항 반영
  src/assets/data/REFUND_CUSTOM_POLICY.tsx
  src/common/Modal/ChargePointModal/ChargePointModal.tsx
  src/common/Modal/ChargePointModal/ChargePointModalForm.tsx
  src/components/Custom/SelectCustom.tsx
  src/components/Custom/SelectCustomBtn.tsx
  src/components/Custom/SelectCustomFooter.tsx
  src/components/Custom/SelectCustomPolicyBottom.tsx
  src/pages/Custom/SelectPage.tsx
Labels: 🚨 Code Review, 🎨 Publishing

#221 List page/#29 filter data setting
  src/components/List/FilterBottom.tsx
  src/components/List/TattooList.tsx
  src/pages/ListPage.tsx
Labels: ✨ Feature, 📑 List

#224 ListPage -> Develop 머지
  src/Router.tsx
  src/assets/icon/ic_arrow_bottom_small_gray.svg
  src/assets/icon/ic_down_arrow.svg
  src/assets/icon/index.ts
  src/assets/test_tattoo.png
  src/common/HotCustom.tsx
  src/common/MainHeaderButton.tsx
  src/components/List/FilterBottom.tsx
  src/components/List/TattooList.tsx
  src/pages/ListPage.tsx
  src/styles/style.d.ts
Labels: ✨ Feature, 🎨 Publishing, 📑 List

#225 [CustomReferencePage] 이미지 첨부 기능에서 전체 3장 추가 첨부 제한 적용
  src/components/Custom/HaveDesign/CustomImageAttach.tsx
  src/components/Custom/HaveDesign/CustomTitle.tsx
Labels: ✨ Feature

#189 [ReceiptPage]영수증 뷰 상단 부분 제외 구현
  src/components/Custom/HaveDesign/ReceiptDetail.tsx
  src/components/Custom/HaveDesign/ReceiptFooter.tsx
  src/components/Custom/HaveDesign/Submitted.tsx
  src/pages/Custom/HaveDesign/ReceiptPage.tsx
Labels: ✨ Feature, 🎨 Publishing

#233 [ReceiptPage] Develop으로 Feature/ReceiptPage 머지 진행
  src/components/Custom/HaveDesign/ReceiptDetail.tsx
  src/components/Custom/HaveDesign/ReceiptFooter.tsx
  src/components/Custom/HaveDesign/Submitted.tsx
  src/pages/Custom/HaveDesign/ReceiptPage.tsx
Labels: ✨ Feature, 🎨 Publishing

#236 Order page/#232 refund sheet text
  src/assets/data/REFUND_ORDER_POLICY.tsx
  src/components/Order/RefundBottom.tsx
Labels: 🎨 Publishing, 🪄Order

#230 Order page/#229 navigation
  src/components/Order/OrderFooter.tsx
  src/pages/OrderPage.tsx
Labels: ✨ Feature, 🪄Order

#228 [Detail Page] 모든 navigation
  src/components/Detail/DetailCarousel.tsx
  src/components/Detail/DetailFooter.tsx
  src/pages/DetailPage.tsx
Labels: ✨ Feature, 🦋Detail

#238 Feature/order page
  package.json
  src/Router.tsx
  src/assets/data/REFUND_ORDER_POLICY.tsx
  src/components/Order/DeliveryInfo.tsx
  src/components/Order/OrderFooter.tsx
  src/components/Order/PaymentInfo.tsx
  src/components/Order/ProductInfo.tsx
  src/components/Order/RefundBottom.tsx
  src/components/Order/RefundInfo.tsx
  src/pages/OrderPage.tsx
  src/styles/GlobalStyle.ts
  yarn.lock
Labels: 🪄Order

#239 DetailPage -> develop
  src/Router.tsx
  src/components/Detail/DetailBottom.tsx
  src/components/Detail/DetailCarousel.tsx
  src/components/Detail/DetailFooter.tsx
  src/components/Detail/DetailInfo.tsx
  src/pages/DetailPage.tsx
  src/styles/theme.ts
Labels: 🦋Detail

#249 [CustomReferencePage]대충 그리기 후 레퍼런스 제출하면 이미지 첨부되는 기능 구현
  package.json
  src/App.tsx
  src/Router.tsx
  src/assets/data/REFUND_ORDER_POLICY.tsx
  src/components/Custom/HaveDesign/Canvas.tsx
  src/components/Custom/HaveDesign/ColorPicker.tsx
  src/components/Custom/HaveDesign/CustomImageAttach.tsx
  src/components/Custom/HaveDesign/CustomReference.tsx
  src/components/Custom/HaveDesign/PaintBottomSheet.tsx
  src/components/Custom/HaveDesign/ReceiptDetail.tsx
  src/components/Custom/HaveDesign/ReceiptFooter.tsx
  src/components/Custom/HaveDesign/Submitted.tsx
  src/components/Detail/DetailBottom.tsx
  src/components/Detail/DetailCarousel.tsx
  src/components/Detail/DetailFooter.tsx
  src/components/Detail/DetailInfo.tsx
  src/components/Order/DeliveryInfo.tsx
  src/components/Order/OrderFooter.tsx
  src/components/Order/PaymentInfo.tsx
  src/components/Order/ProductInfo.tsx
  src/components/Order/RefundBottom.tsx
  src/components/Order/RefundInfo.tsx
  src/pages/Custom/HaveDesign/ReceiptPage.tsx
  src/pages/CustomReference/CustomReferencePage.tsx
  src/pages/DetailPage.tsx
  src/pages/OrderPage.tsx
  src/styles/GlobalStyle.ts
  src/styles/theme.ts
  yarn.lock
Labels: ✨ Feature

#235 [RegisterPage] 자동 하이픈
  src/components/Register/InputCertificationForm.tsx
  src/components/Register/RegisterPhoneNum.tsx
  src/components/Register/RegisterPhoneNumForm.tsx
  src/components/Register/Timer.tsx
  src/utils/sliceMaxLength.ts
Labels: ✨ Feature, 💌 Login

#258 [LoginPage] 스타일 바뀐 부분 적용
  src/components/Login/LoginHome.tsx
Labels: 🎨 Publishing, 🔨 Refactor, 💌 Login

#259 [RegisterPage] 스타일 바뀐 부분 적용
  src/components/Register/RegisterName.tsx
  src/components/Register/RegisterPhoneNumForm.tsx
Labels: 🎨 Publishing, 🔨 Refactor, 💌 Login

#260 [WelcomPage] 스타일 요소 반영
  src/components/Welcome/WelcomeFooter.tsx
  src/components/Welcome/WelcomeHome.tsx
Labels: 🎨 Publishing, 🔨 Refactor, 💌 Login

#248 [ Total ] 셀프 QA
  src/assets/data/REFUND_ORDER_POLICY.tsx
  src/assets/icon/ic_heart_dark.svg
  src/assets/test_tattoo_big.png
  src/common/HotCustom.tsx
  src/components/Detail/DetailBottom.tsx
  src/components/Detail/DetailCarousel.tsx
  src/components/List/FilterBottom.tsx
  src/components/List/TattooList.tsx
  src/components/Order/DeliveryInfo.tsx
  src/components/Order/OrderFooter.tsx
  src/components/Order/PaymentInfo.tsx
  src/components/Order/RefundInfo.tsx
  src/pages/DetailPage.tsx
  src/pages/OrderPage.tsx
Labels: ✨ Feature, 🎨 Publishing, 📑 List, 🪄Order, ✏️ Custom, 🦋Detail

#205 [SizeCustomPage] 🚨 사이즈 선택 뷰 디자인 변동사항 구현 및 레이아웃 추가 + 수정된 웹뷰 사이즈 반영
  src/components/Custom/Common/CustomSelectSize.tsx
  src/pages/Custom/Common/CustomSizePage.tsx
Labels: 🎨 Publishing

#214 [CustomRequestPage] 🚨 커스텀 요청사항 입력 뷰 디자인 수정사항 반영 및 레이아웃 추가 + 수정된 웹 뷰 사이즈 반영
  src/components/Custom/NoDesign/CustomRequset.tsx
  src/pages/Custom/NoDesign/CustomRequestPage.tsx
Labels: 🎨 Publishing

#242 [SelectPage] 🚨 최소 사이즈 맞춰서 뷰 수정
  src/components/Custom/SelectCustom.tsx
  src/components/Custom/SelectCustomPolicy.tsx
  src/pages/Custom/SelectPage.tsx
Labels: 🎨 Publishing

#289 [SelectKeywordPage] 클릭시 모양 바뀌는 문제 해결 및 개수 따른 버튼 활성화 적용
  src/components/Custom/HaveDesign/SelectKeyword.tsx
  src/pages/Custom/HaveDesign/SelectKeywordPage.tsx
Labels: ✨ Feature, 🎨 Publishing, 🔨 Refactor

#303 [CommonPage] 사파리에서 flex 속성 안 먹는 이슈 해결
  src/common/Modal/CheckModal/CheckModalForm.tsx
Labels: 👨‍👩‍👧‍👦 Common, 🔨 Refactor, 🔔 modal

#312 [OnBoardingPage] 캐러셀 마진 수정, 모달 수정
  src/common/Modal/TempSaveModal/TempSaveModal.tsx
  src/components/Custom/Common/OnBoardingCarousel.tsx
Labels: 🎨 Publishing

#319 [TransferPage] 포인트 충전 POST API
  .gitignore
  src/common/Modal/CheckModal/CheckModal.tsx
  src/common/Modal/CheckModal/CheckModalForm.tsx
  src/components/PointCharge/Charge.tsx
  src/components/PointCharge/PointChargeFooter.tsx
  src/components/PointCharge/PointTransferFooter.tsx
  src/components/PointCharge/TransferMain.tsx
  src/page/PointCharge/ChargePage.tsx
  src/page/PointCharge/TransferPage.tsx
Labels: 📬 API, 💰point

#323 List page/#287 api
  src/components/List/FilterBottom.tsx
  src/components/List/TattooList.tsx
  src/libs/hooks/list/useGetAllList.tsx
  src/libs/hooks/list/useGetGenre.tsx
  src/libs/hooks/list/useGetStyle.tsx
Labels: 📬 API, 📑 List

#335 [Custom] back navigate 수정
  src/page/Custom/HaveDesign/AdditionalRequestPage.tsx
  src/page/Custom/HaveDesign/CustomThemePage.tsx
  src/page/Custom/HaveDesign/SelectKeywordPage.tsx
  src/page/Custom/HaveDesign/StylingColorPage.tsx
  src/page/Custom/NoDesign/CustomImgPage.tsx
  src/page/Custom/NoDesign/CustomRequestPage.tsx
  src/page/Custom/PricePage.tsx
  src/page/CustomReference/CustomReferencePage.tsx
Labels: ✨ Feature

#340 Detail page/#288 api
  src/components/Detail/DetailBottom.tsx
  src/components/Detail/DetailCarousel.tsx
  src/components/Detail/DetailInfo.tsx
  src/libs/hooks/detail/useGetPoint.tsx
  src/libs/hooks/detail/useGetRelated.tsx
  src/libs/hooks/detail/useGetSticker.tsx
  src/page/DetailPage.tsx
Labels: 📬 API, 🦋Detail

#351 [RegisterPage] 전화번호 인증 api 연결
  .gitignore
  src/Router.tsx
  src/components/Register/RegisterName.tsx
  src/components/Register/RegisterPhoneNumForm.tsx
  src/libs/hooks/useKakaoLogin.tsx
  src/page/Register/RegisterNamePage.tsx
Labels: 🚨 Code Review, 📬 API, ✨ Feature, 💌 Login

#359 [Custom] custom page navigate 시 state로 필요 한 값 넘기기
  src/common/Footer/NextFooter.tsx
  src/components/Custom/Common/CustomSelectSize.tsx
  src/components/Custom/NoDesgin/CustomImg.tsx
  src/components/Custom/NoDesgin/CustomImgAttach.tsx
  src/components/Custom/NoDesign/CustomRequset.tsx
  src/page/Custom/Common/CustomSizePage.tsx
  src/page/Custom/NoDesign/CustomImgPage.tsx
  src/page/Custom/NoDesign/CustomRequestPage.tsx
  src/page/Custom/PricePage.tsx
Labels: ✨ Feature, ✏️ Custom

#368 [SizeCustomPage] 사이즈 선택 버튼 이미지 넣기
  public/image/img_size1.png
  public/image/img_size2.png
  public/image/img_size3.png
  public/image/img_size4.png
  src/components/Custom/Common/CustomSelectSize.tsx
  src/components/Custom/Common/CustomSelectSizeBtn.tsx
Labels: 🎨 Publishing

#370 [OnBoardingPage] 온보딩 캐러셀 수정
  src/assets/data/ONBOARDING_CAROUSEL_CONTNET.ts
  src/assets/image/onboarding_custom_1.png
  src/assets/image/onboarding_custom_2.png
  src/assets/image/onboarding_custom_3.png
  src/assets/image/onboarding_custom_4.png
  src/assets/image/onboarding_custom_5.png
  src/components/Custom/Common/OnBoardingCarousel.tsx
Labels: 🎨 Publishing
